<div *ngIf="!showSelectedCards">
    <div class="p-16">
        You are the Storyteller
        <p class="text-center">Pick a card</p>



        <div class="grid p-16">
            <app-cards *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
            </app-cards>
        </div>




        <div *ngIf="showButton">
            <mat-form-field appearance="fill">
                <mat-label>Describe your card</mat-label>
                <input matInput id="clue" [(ngModel)]="storyClue">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="SendClueAndCard();">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </div>
        <div *ngIf="!showButton">
            <mat-label>Wait for other players..</mat-label>
        </div>
    </div>
</div>

<div *ngIf="showSelectedCards">
    <div class="p-16">
        <p class="text-center">These are selected cards. </p>
        <div class="grid p-16">
            <app-cards *ngFor="let c of selectedCards; let idx=index" [data]="c">
            </app-cards>
        </div>
    </div>
</div>

<div *ngIf="isAllChosen">
    <button mat-raised-button color="primary" class="next-button" [disabled]="clicked"  (click)="nextRound(); clicked = true;">
        Next Round
    </button>
</div>

